* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background-color: white;
	color: rgb(51, 65, 85);
}
.bold { font-weight: 600; }
.italic { font-style: italic; }
.hidden { display: none;}
.gray { color: silver; }
.picked {color:crimson}
.center {text-align: center;}
a {
	color: dodgerblue;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
hr {
	appearance: none;
	outline: none;
	height: 0;
	border-width: 0;
	border-bottom: 1px solid #abc;
}
h1 {
	font-size: 1.65rem;
	margin: 1.5rem 0
}
h1 span { display: block; }
.batch h1 .sub {
	font-size: .75em;
}
button {
	/* height: 1.5rem; */
	/* padding: 5px .75rem; */
	padding: .35rem.75rem;
	font-size: 12px;
	font-weight: 600;
	/* margin-left: .25rem; */
	/* margin-right: .25rem; */
	border: 1px solid #678;
	appearance: button;
	outline: none;
	position: relative;
	background-color: #ddd;
}
button.small {
	padding: .25rem .5rem;
}
button.micro {
	height: 22px;
	padding: 0 8px;
	font-size: .7rem;
	margin: -2px 0;
	border-radius: 2px;
	background-color: #ebebeb;
}
button:disabled { border-color:#abc; background-color: #eee; }
button:focus { border-color:dodgerblue; background-color: #fafafa; }
button:active { background-color: #fafafa; }
select {
	height: 28px;
	padding: 0 2rem 0 .5rem;
	font-size: 0.8125rem;
	border: 1px solid #abc;
	border-radius: 5px;
	appearance: none;
}
select:disabled { color:#123; }
select:focus {
	outline: none;
	border-color: dodgerblue;
}
[type=text],
[type=number],
[type=password] {
	height: 28px;
	padding: 0 .5rem;
	font-size: 0.85rem;
	border-radius: 2px;
	border: 1px solid #abc;
	appearance: none;
}
[type=text]:focus,
[type=number]:focus,
[type=password]:focus {
	outline: none;
	border-color: dodgerblue;
}
[type=checkbox]:disabled {
	background: dodgerblue;
	outline: 1px solid red;
	accent-color: red;
}
.page {
	margin: 0 auto;
	padding: 0 1rem;
	/* min-width: 360px; */
	/* max-width: 480px; */
	width: 480px;
}
#main-menu {
	color: #ddd;
	padding: 16px 0;
	font-size: 0.875rem;
	text-transform: uppercase;
	letter-spacing: 0.75;
	border-bottom: 1px solid #89a;
}
#main-menu a {
	color: #567;
	text-decoration: none;
}
#main-menu a:hover {
	color: salmon;
}
.batch-menu {
	display: flex;
	column-gap: .8rem;
	font-size: medium;
	color: #abc;
	margin: 2rem 0;
}
.batch-menu .current {
	color: #123;
}
/* BORDERS */
.border-t {border-top: 1px solid #abc;}
.border-r {border-right: 1px solid #abc;}
.border-b {border-bottom: 1px solid #abc;}
.border-l {border-left: 1px solid #abc;}
/* HR */
hr {
	appearance: none;
	outline: none;
	height: 0;
	border-width: 0;
	border-bottom: 1px solid #abc;
}
/* DEFAULT TABLE */
table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}
td {
	padding: .5rem 0;
}
.wide-pad td {
	padding: .5rem 0;
}

/* Grouping table */

table.grouping {
	border-top: 1px solid red;
}

table.grouping td {
	height: 2rem;
	padding: .25rem .5rem;
	border: 1px solid #345;
	white-space: nowrap;
}

table.grouping td {
	text-align: center;
}

table.grouping thead td {
	font-weight: 600;
	background-color: #d8d8d8;
}

table.grouping tbody td {
	font-size: .875rem;
	text-transform: uppercase;
}

table.grouping tbody td:first-child {
	text-align: left;
	text-transform: none;
}

table.grouping td.group-slot {
	width: 17%;
	min-width: 60px;
	max-width: 75px;
}

table.grouping td.blank {
	background-color: #ebebeb;
}

table.grouping td.f2f {
	background-color: burlywood;
}

table.grouping td.lgd {
	background-color: rgb(245, 237, 170);
}

table.peserta-batch td {
	padding: 0.125rem 0;
}

table.batch-list thead td {
	font-weight: 600;
	border-bottom: 1px solid #345;
}


/* Bucket list */
.bucket-item.selected { color: red; }
